# Copyright © 2026 Michael Shields
# SPDX-License-Identifier: MIT

# local is not POSIX but is supported by dash, bash, ash, and zsh
disable=SC3043

# Sourced files like /etc/os-release are not available at lint time
disable=SC1091
